sudoku_rest_framework/data/sudokus/do_not_gitinclude/
sudoku_rest_framework/settings.py
*.o
sudoku_rest_framework/data/sudokus/.vscode/
sudoku_rest_framework/data/sudokus/playground/output
sudoku_rest_framework/data/sudokus/playground/obj/
sudoku_rest_framework/data/sudokus/playground/sudoku_solutions/